<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="img/caticon.png"/>
    <title>Nos matous</title>
</head>

<body>
<div class="header">
        <div class="logo">

        </div>
    </div>
    <div class="bar">
        <p class="bar_text_index">Nos matous</p>
    </div>

    <div class="catclass">
        <div class="type">
            <div class="img_type_pew"></div>
            <div class="roar">
                <p>Chat numéro {% for recipescat in recipecat %}
                {{ recipescat.id }}</p>
                {% endfor %}
            </div>
            <div class="block_meow">
                <div class="meow">
                    <p>Poids: {% for recipescat in recipecat %}
                                {{ recipescat.weight }}
                                    </p>
                    <p>Age du chat:
                                {{ recipescat.age }}
                                    </p>
                </div>
                <div class="male_or_not">
                    <p>Genre :
                                {{ recipescat.gender }}
                            </p>
                    <p>Taille (longueur): 
                                {{ recipescat.length }}
                                    {% endfor %}</p>
                </div>
            </div>
        </div>
     
</body>
</html>